body { background-color: #f2f2f2; /*padding-top: 70px; font-family: 'BerlinSansFB' !important; font-size: 18px !important;*/}
.th_listar_cb { width: 30px !important; text-align: center; }
.no-padding { padding: 0px; }
.no-padding-left { padding-left: 0px; }
.no-padding-right { padding-right: 0px; }
.form-horizontal .control-label { text-align: left; }
.no-margin{margin: 0px}
@media (min-width: 1200px){
    .container {width: 1280px;}
}

@media (max-width: 1199px) {
    .no-padding-right { padding-right: 0px; } 
    .no-padding-left { padding-left: 0px; }
}
.nCRM_blue{color:#2C4452;    font-weight: bold;}
.nCRM_black{color:#000;font-weight: bold;}
.f_menu{background-color: #008CBA !important;line-height: 1.4}
.f_menu  li  a{
    font-family: "BerlinSansFB", "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
    font-size: 12px !important;    
    padding: 10px !important;
    color:#fff !important;
}

.with30{
    width: 33%;
}
.with25{
    width: 25%;
}
.margin_left{
    margin-left: 45px;
}

/* .modal-transparent */
.modal-transparent {
    background: transparent;
}
.top_modal_exito{
    margin-top: 96px;
}
.check_modal{
    font-size: 100px;
    color: green;
}
.modal-backdrop.modal-backdrop-transparent {
    background: transparent;
}
.modal-backdrop.modal-backdrop-transparent.in {
    opacity: .9;
    filter: alpha(opacity=90);
}

.f_menu  li a:hover{color:#000 !important;}
.btn-extra{background-color: #215968;color: #FFF;font-weight: bold;}
.del_act{text-align: center;}
.del_doc{text-align: center;}
#form_editar tbody tr,.paginate_button, #tabla_listar tbody tr{cursor: pointer} 

/* Colores corporativos:  [ azul #2C4452 ] azul #293543, [dorado #ac7c22] rosado #db597b */

.bg-azul{background-color: #293543}
.bg-primary{background-color: #293543}
.bg-gris{background-color: #F1F1F1}
.bg-dorado{background-color: #AC7C22}
.navbar-inverse {background-color: #2C4452;border-color: #2C4452;}
#titulo_sup{margin-top: 6%;font-weight: bold;font-size: 25px;color:#db597b;font-family: Baskerville,Baskerville Old Face,Hoefler Text,Garamond,Times New Roman,serif;}
.breadcrumb a{color: white;}
.breadcrumb {background-color: #c0c0c0 !important;border: 1px solid #c0c0c0 !important;border-radius: 0px;}
.navbar-inverse {background-color: #db597b;border-color: #db597b;}
.navbar-inverse .dropdown-menu {background-color: #db597b;}
.btn-primary {background-color: #db597b;border-color: #db597b;}
.btn-primary:hover, .btn-primary:active {background-color: #db839a;border-color: #db839a;}
.btn-default {color: #fff;background-color: #293543 ;border-color: #293543 ;}
.panel-primary > .panel-heading {background-color: #2C4452;border-color: #2C4452;font-weight: bold}
.panel-primary {border-color: #c0c0c0;}
.form-control{height: 38px;font-size: 12px}
.form-group{margin-bottom: 10px}
.form-control:focus {border-color: #db597b;outline: 0;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(102,175,233,0.6);box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgb(219, 89, 123);}
.btn-sm {padding: 4px 8px;}
.profile-info a{text-decoration: none;color:#2C4452}
.profile-info a:hover{opacity: .6}
.text-primary{color: #2C4452 !important}
.text-white{color:white}
.text-bold{font-weight: bold !important}
.text-rosado{color: #db597b !important}
.active > a {background-color: #2C4452 !important;color: #FFF !important;}
a{color:#2C4452 }
a.form{color:#db597b; font-weight: bolder }
#record_home h4{margin-bottom: 5px}
#record_home table{border: solid 1px #ccc;}
#record_home table thead{    background-color: #EEE;color: #545353;}
#sin-m2{cursor: pointer}
#sin-m2:hover{opacity: 0.7}
.marginx5{margin:5px}
.div-foto img {width: 100%;height: 100%;}
.img_info {bottom: 0;position: absolute;color:white;}
.img_opciones{    top: 0;position: absolute;    margin-top: 10px;margin-left: 140px;display: none }
.img_opciones .fa{   color:#AC7C22; cursor:pointer}
.img_info textarea{ background-color: transparent;border: none;resize: none;font-size: 11px;font-weight: bold;}
.div-foto:hover{ border: 3px solid #AC7C22 !important; }
.div-foto:hover .img_opciones{ display: inherit}
.favorito{
    color: white;
    width: 25px;
    height: 25px;    
    position: absolute;
    top: 0;
    padding: 2px;
    border-radius: 5px;
    text-align: center;
}
.mirrored{display: none}
.reuniones .fa,.llamadas .fa,.tareas .fa,.documentos  .fa,.cliente .fa,.casos .fa,.convenios .fa,.servicios .fa,.gestion .fa,.contactos .fa,.oportunidades .fa,.cotizaciones .fa {cursor: pointer;}
.reuniones a,.llamadas a,.tareas a,.documentos a,.cliente a,.casos a,.convenios a,.servicios a,.gestion a,.oportunidades a,.cotizaciones a,.contactos a{cursor: pointer;}
img#logo-inicial {max-height: 100px;}
.paddingx3{padding: 3px}
a[data-target="#crear_foto"] { cursor: pointer;}
.navbar{
    margin-bottom: 5px;
}
.breadcrumb{margin-bottom: 0px;}
.content-header h3{margin-top: 0px;}
footer{
    background-color: #293543;
    color: #FFF;
    padding-top: 10px;
    margin-top: 10px;
}
.tituloHome{color: #293543;font-size: 25px; font-weight: bolder;}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,.navbar-inverse .navbar-nav > li > a:hover, navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus,.navbar-inverse .dropdown-menu > li > a:hover, .navbar-inverse .dropdown-menu > .active > a, .navbar-inverse .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus, .btn-primary:focus{ background-color: #db839a !important; }


ul.ui-autocomplete{background-color: #FFFFFF; list-style:none; border: 1px solid #DDD; padding-left: 0px; width: 450px; }
ul.ui-autocomplete li{padding-top:5px; padding-bottom: 5px; padding-left: 15px; }
ul.ui-autocomplete li:hover{background-color: #e3e3e3;}

ul.ui-autocomplete li a{color: #3c3c3c;  }
.ui-helper-hidden-accessible{display:none;}

.datepicker{z-index: 9999;}


#recuadros{
    color: #FFF;
    margin-bottom: 20px;
}

#recuadro{
    box-shadow: 5px 5px 5px rgb(153, 153, 153);
    width: 250px;
    padding: 5px 15px;
    margin: 10px 15px;
}

#recuadro .dibujo{
    font-size: 55px;
    color: rgba(255,255,255,0.75);
}


#recuadro .dibujo img{
    padding-top: 10px;
}

#recuadro .dibujo.sub_i{
    font-size: 35px;
    position: relative;
}

.texto h3{
    font-size: 55px;
    margin-top: 6px;
}

#recuadro h6{
    font-size: 20px;
    color: rgba(255,255,255,0.75);
    padding: 0px;
    margin: 0px;

}

.box-title.col-sm-6{
    margin-bottom: 20px;
}

.sub_titulo{
    font-weight: bolder;
    color: #2C4452;
    font-size: 20px;
    margin-bottom: 15px;
}

@media (max-width: 982px){
    .container {width: 850px;}
}

@media (max-width: 872px ){
    .container {width: 750px;}
    .nav > li > a {
        padding: 12px 7px;
    }
}

.texto_transcurrido{
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    right: 0px;
    bottom: 20px
}

#mis_actividades_length, #mis_actividades_filter, #mis_oportunidades_length, #mis_oportunidades_filter {
    display: none;}

.height30{
    height: 30px;
}
.panel_derecho table.dataTable.display tbody tr.odd{
    background-color: #F6BACA;

}
.panel_derecho table.dataTable thead tr{
    background-color: #EEEEEE;

}
.ui-autocomplete {
    z-index: 5000 !important;
}
.negrita{
    font-weight: bold; 
}
.cursiva{
    font-style: italic;
}
.text-centerPdf{
    text-align: center;
}
.marginPdf{
    margin: 15px;
}
.justificado{
    text-align: justify;
}
.centrado{
    text-align: center;
}
.saltapagina{
    /*page-break-before: always;*/
}
/* .modal-transparent */
.modal-transparent {
    background: transparent;
}
.top_modal_exito{
    margin-top: 96px;
}
.alerta_modal{
    font-size: 85px;
    color: red;
}
.tamano_modal{
    width: 275px;
    height: 200px;
    padding-top: 10px;
}
.top_modal_cotizacion{
    padding-left: 300px;
    padding-top: 120px;
}
.configuracion_modal{
    padding-top: 12px;
}
.modal-backdrop.modal-backdrop-transparent {
    background: transparent;
}
.modal-backdrop.modal-backdrop-transparent.in {
    opacity: .9;
    filter: alpha(opacity=90);
}
.paddi_documet{
    padding: 10px;
}
.zoom-panel-der:hover{cursor:zoom-in;color:#db597b;font-weight: bold}
.marginx5-bottom{margin-bottom: 5px}

.categoria_prod { 
   resize:vertical ;
   width: 180px;
   min-height: 38px;
   height: 38px;
   
}
tfoot input {
        width: 100%;
        padding: 3px;
        box-sizing: border-box;
    }

