<div class="col-lg-1 no-padding">
    <ul class="nav ">

        <li class="nav-bar text-center"><a href="#"  data-toggle="collapse" data-target="#sub11"> <h3><span class="nCRM_blue">#</span><span class="nCRM_black">f</span></h3></a>
            <ul class="nav collapse f_menu" id="sub11">
                {$menu_frecuentes}
            </ul>
        </li>  

    </ul>
</div>